<a href="/teacher/option" class="text-dark"><i class="fa-solid fa-angles-left"></i>Back</a>
<h4 >All Students</h4>
<div class="tableDiv">
  <table class="table table-striped">
    <thead>
      <tr>
        
        <th scope="col">Roll No.</th>
        <th scope="col">Name</th>       
        <th scope="col">Date of Birth</th>
        <th scope="col">Score</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <%  student.forEach(element => { %>
            <tr class="head">
                <td><%= element.roll %></td>
                <td><%= element.name %></td>               
                <td><%= element.dob.toDateString() %></td>
                <td><%= element.score %></td> 
                <td>
                  <a href="/teacher/edit/<%= element._id %> "><span class="text-gradient"><i class="fa-solid fa-pen-to-square"></i></span></a>
                  <a href="/teacher/delete/<%= element._id %> "><span class="text-gradient"><i class="fa-solid fa-trash"></i></span></a>
                </td>
              </tr>
        <%}) %>
    </tbody>
  </table>
</div>